* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.section{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 620px;
    padding: 60px 40px 0px 40px;
}

.section-mini{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    padding: 0px 40px 0px 40px;
}


.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    background-color: black;
}

#nav {
    height: 20px;
    margin: 20px;
}

.nav-logo{
    background-repeat: no-repeat;
    background-position: 25% 35%;
    width: 30px;
    height: 30px;
    background-image: url("assets/images/moon.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 75px;
    cursor: pointer;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    letter-spacing: .2rem;
    color: rgb(255, 255, 255);
    padding: 5px;
}

.nav-items a{
    color: rgb(255, 255, 255);
}

.nav-items li {
    font-size: 13px;
    margin: 0px 20px 0 20px;
    list-style: none;
    cursor: pointer;
}
.nav-items li:hover {
    text-shadow:2px 2px 5px rgb(255, 245, 245);
}

.title {
    font-size: 70px;
}

.subtitle {
    font-size: 25px;
}

.button{
    background: radial-gradient(#a947b6eb, rgba(160, 74, 157, 0.801), #a453aceb);
    background-color: #d3add7;
	color: #ffffff;
    display: inline-block;
    padding: 0.8rem;
    border-radius: .5rem;
    border-color: #ffe9fe;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}
.button:hover{
    /* transition: 1s; */
  
    background: radial-gradient(#d264e0eb, rgba(219, 105, 216, 0.801), #f58cffeb);
    background-color: #d3add7;
	color: #ffffff;
}

.down-button {
    font-size: 30px;
    text-align: center;
    width: 100% !important;
    cursor: pointer;
    margin-top: 40px;
    color: aliceblue;
}

.down-button a {
    color: aliceblue;
}

.down-button:hover{
    text-shadow:2px 2px 5px rgb(255, 245, 245);
}

.mt-30{
    margin-top: 30px;
}

#inicio {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 110px 80px 60px 80px;
    height: 400px;
}

.presentation {
    width: 100%;
    height: 390px;
    padding: 140px 0px 0px 0px;
    background-image: url("assets/images/galaxy.png");
    background-repeat: no-repeat;
    background-position: 55% 95%;
    /* background-position: 45% 75%; */
    background-attachment: fixed;
}

.presentation .title{
    padding-left: 40px;
}

.presentation .subtitle{
    padding-left: 40px;
}

#about{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 610px;
    padding: 60px 0px 0px 0px; 
}

.imgAbout{
    width: 40%;
    /* background-color: aqua; */
    height: 100%;
    background-image: url("assets/images/marianella.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.about_text{
    width: 60%;
    height: 100%;
    background-color:aliceblue;
    padding: 60px 120px 0px 45px;
}

.about_text h4{
    font-size: 35px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 18px;
}

.about_text p{
    font-size: 15px;
    color: #a09f9f;
    font-weight:lighter;
    letter-spacing: 1.5px;
    text-align: justify;
    margin: 10px 0px;
}


.line{
    height: 4px;
    width: 10%;
    background-color: #ff0606;
    border-radius: 25px;
}

/* #portfolio{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 620px;
    padding: 60px 40px 60px 40px;
} */

#knowledges{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 420px;
    padding: 60px 40px 0px 40px;
}
.knowledge-bgd{
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    background-color: rgb(0, 0, 0);
    filter: blur(2px);
    width: 100%;
}
.knowledge-text{
    color: #000000;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 150px 0px 0px 0px;
}
/* .knowledge-text h1{
    font-size: 50px;
} */

/* .knowledge-title{
    text-align: center;
} */

.knowledge-title h1{
    -webkit-text-stroke: 1px rgb(61, 59, 59);
    color: transparent; 
    font-size: 80px;
}

.knowledge-title h3{
    top: 200px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: #fafafa;
}

/* .knowledge-title:hover{
    text-shadow:2px 2px 5px rgb(255, 255, 255);
    transition: 0.3s;
    cursor: pointer;
}
.knowledge-title:hover h3{
    color: #000000;
    font-size: 55px;
    transition: 0.5s;
} */
.knowledge-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 150px 0px 150px;
    color: #fffbfb;
}
.knowledge-list div{
    width: 50%;
    margin-right: 50px;
}
.knowledge-list h1{
    font-size: 30px;
}
.knowledge-list .grid{
    align-items: flex-start;
}
.knowledge-list .grid div{
    margin: 10px 0px 0px 0px;
}
.knowledge-list .grid div{
    width: 100%  !important;

}
.knowledge-item:hover{
    text-shadow:4px 1px 3px rgb(255, 255, 255);
    /* cursor: pointer; */
    /* background-color: rgb(206, 206, 206); */
}
.knowledge-item h6{
font-size: 15px;
font-weight: lighter;
text-align: left;
}
.bar{
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 2px;
}

#tools{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    padding: 40px 40px 0px 40px;
    justify-content: center;
}
#tools div{
    text-align: center;
    width: 25%;
    height: 100%;
}

.tools_item h6{
    margin: 5px;
}
.tools_item img{
    width: 13%;
}

#portfolio{
    flex-wrap: wrap;
    margin: 60px 0px 0px 0px;
}
#portfolio .bar{
    box-shadow: 10px 5px 16px rgb(237, 235, 235);
}
.portoflio-title {
    width: 30%;
    text-align: center;
    margin-left:80px ;
}
.portoflio-title h4{
    transform: translate(0%, -100%);
    overflow-wrap: break-word;
    font-size: 100px;
    color: #e7e7e7;
    font-weight: bold;
    inline-size: 340px;
    letter-spacing: 4PX;
    text-align: justify;
    position: absolute;
    text-shadow:2px 2px 5px rgb(255, 245, 245);
    transition: 1s;
}

.portoflio-title h1{
    -webkit-text-stroke: 1px rgb(61, 59, 59);
    color: transparent; 
    font-size: 110px;
    overflow-wrap: break-word;
    inline-size: 340px;
    transition: 1s;
}


.portfolio-information{
    padding: 40px 0px 0px 80px;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-information .portfolio-item{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 50%;
}

.project1{
    margin-top: 30px;
    width: 50%;
    height: 80%;
    background-image: url("assets/images/armac.png");
    background-position: 35% 42%;
    background-size: cover;
}

.project2{
    width: 50%;
    height: 80%;
    background-image: url("assets/images/virtualShop.png");
    background-size: cover;
    background-position: 55% 54%;
}

.portfolio-item img{
    width: 100%;
    object-fit:cover;
}

/*desarrollar para que cuando hover, aparessca para ver mas info del proyeto*/
.portfolio-item img:hover{
    cursor: pointer;
}

.portfolio-item h6{
    font-size: 20px;
    color: #fffbfb;
    font-weight: bold;
    letter-spacing: 1PX;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.portfolio-item p{
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.5PX;
    text-align: center;
    padding: 5px;
}

.project-description{
    width: 50%;
    height: 80%;
    background-color: #ffffff;
}

.project-description p{
    padding: 15px 15PX 0PX 15PX;
    text-align: justify;
    font-size: 12PX;
}

#contact{
    padding: 40px;
}

.contacto-grid{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.icon-contacto{
    margin: 40px 40px 10px 40px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #ffffff;
    background: radial-gradient(#fcd6fdeb, #9b4fa5, #501857);
    background-color: #d3add7;
	color: #ffffff;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
	transition: 1s;
    justify-content: center;
    display: flex;
    align-items: center;
}

.icon-contacto:hover{
    transition: 1s;
    background-color: #d780ff;
    background: radial-gradient(#f8e8ffeb,rgba(236, 152, 255, 0.637), #501857);
}

